/* MAIN PAGE */
.main-title {
  text-align: center;
  color: #e07b00;
}
.main-container {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;

}

.search-ingredient {
    margin-top: 25px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    width: 100%;
    max-width: 400px;
}

.ing-container{
  max-width: 600px;
  margin: 10px auto;
  padding: 16px;
  background-color: #fff8f2;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.add {
    border-radius: 6px;
    border: none;
    padding: 9px 13px;
    background-color: #f48c06;
    font-weight: bold;

  transition: all 0.2s ease;
}

.add:hover {
   background-color: #e07b00;
  transform: scale(1.05);
  color: white;
}

.ingredient-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredient-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fefefe;
  margin-bottom: 12px;
  padding: 12px 16px;
  border: 1px solid #eee;
  border-radius: 8px;
  
}


.delete-btn {

    background: none;
  border: none;
  cursor: pointer;
  color: #d9534f;
  font-size: 19px;
  transition: transform 0.2s ease, color 0.2s ease;

}

.delete-btn:hover {
  color: #c9302c;
  transform: scale(1.1);
}

.get-recipe {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border-radius: 8px;
    background:  #fff8f2;
    padding: 10px 28px;
    max-width: 700px;
    width: 100%;
  


}

.get-recipe button {

    border: none;
    border-radius: 6px;
    background: #f48c06;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: black;
    padding: 9px 17px;
    font-size: 15px;
    cursor: pointer;
}


.get-recipe h3 {
  font-size: 15px;
}

.recipe-container {

    background: #fff9f5;
    border: 2px solid #ffd6c1;
    border-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
      width: 100%;
  max-width: 700px;
   

}


@media (min-width: 600px) {
  .search-ingredient {
    flex-direction: row;
  }

  .get-recipe {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .get-recipe h3 {
    text-align: left;
  }
}