/* RECIPE */

.recipes-test {
 
  margin: 0 auto;     /* centers horizontally */
  padding: 0 10px;
  width: 700px;    /* optional horizontal padding */
}

.recipe-container {

    background: #fff9f5;
    border: 2px solid #ffd6c1;
    border-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
   

}

.get-recipe {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;


}

.get-recipe button {

    border: none;
    border-radius: 6px;
    background: #f48c06;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: black;
    padding: 9px 17px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}


/* RECIPES API */

.recipe-grid {
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px 8px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}



.recipes-container:hover {
   background-color: #e07b00;
  transform: scale(1.05);
  color: white;

}


.search-name {
    text-align: center;
    justify-content: center;
    display: flex;
}

.recipes-container {

    width: 100%;
    max-width: 200px;
    background-color:#f9f5f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px gray;
    transition: all 0.2s ease;
}

.recipe-image {
    width: 100%;
    border-radius: 10px;

}

.recipe-name {
    color: black;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}

.recipe-details {
 max-width: 700px;
  margin: 100px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  

}


.details-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}


.instructions {
  margin-top: 10px;
  line-height: 1.6;
  color: #444;
  white-space: pre-line;
   font-size: 12px;
}

.go-back {
  display: inline-block;
  margin-top: 10px;
  color: #f48c06;
  text-decoration: none;
  font-weight: 200px;
  transition: color 0.2s;
  text-align: center;
}

.link{
    
  display: flex;
  justify-content: center; 
  align-items: center;   
  height: 30px;
  margin: auto;

}


.details-title {
  font-size: 15px;
  color: #444;
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
text-align: center;
  color: #333;

}

.details-image {
  display: block;
  margin: 0 auto 10px auto;
  width: 250px; 
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}
.link-container {
    text-decoration: none;
}