* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    width: 100%;

}

/* MAIN PAGE CSS */

.header-container {
    background-color: #f48c06;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.avatar {
    width: 200px;
    position: absolute;
    left: 34%;
    top: -5%;

}

.main-nav {

    text-align: left;
    top:60px;
    
}

.a {
    text-decoration: none;
    font-size: 16px;
    background-color: #f48c06;
       padding: 0px 16px;
 
    text-decoration: none;
    color: black;
}

/* SEARCH BAR */

.main-container {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;

}
.search-ingredient {
    margin-top: 100px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center
}

#search-bar{
     border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    width: 100%;
    max-width: 400px;
}

.add{
     border-radius: 6px;
    border: none;
    padding: 9px 13px;
    background-color: #f48c06;
    font-weight: bold;
}


/* RECIPE */

.recipe-container{

  background: #fff9f5;
  border: 2px solid #ffd6c1;
  border-radius: 12px;
  padding: 20px;
  margin: 2rem auto;
  max-width: 700px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

}

/* .recipe-content{


} */