* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    width: 100%;

}

/* MAIN PAGE CSS */

.header-container {
  background-color: #f48c06;
    position: relative;
    
}

.main-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.main-header h1 {
    margin-top: 70px;
    font-size: 50px;
    font-weight: bold;
    z-index: 1;
}



.avatar {
     width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
     top: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

}

.main-nav {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #f48c06;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.a {
text-decoration: none;
    font-weight: bold;
    color: black;
}


/* MAIN PAGE */

.main-container {
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;

}

.search-ingredient {
    margin-top: 100px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-bar {
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    padding: 9px 13px;
    width: 100%;
    max-width: 400px;
}

.ing-container{
  max-width: 600px;
  margin: 10px auto;
  padding: 1rem;
  background-color: #fff8f2;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.add {
    border-radius: 6px;
    border: none;
    padding: 9px 13px;
    background-color: #f48c06;
    font-weight: bold;

  transition: all 0.2s ease;
}

.add:hover {
   background-color: #e07b00;
  transform: scale(1.05);
  color: white;
}

.ingredient-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredient-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fefefe;
  margin-bottom: 0.5rem;
  padding: 0.75rem 1rem;
  border: 1px solid #eee;
  border-radius: 8px;
  
}


.delete-btn {

    background: none;
  border: none;
  cursor: pointer;
  color: #d9534f;
  font-size: 1.2rem;
  transition: transform 0.2s ease, color 0.2s ease;

}

.delete-btn:hover {
  color: #c9302c;
  transform: scale(1.1);
}

/* RECIPE */

.recipe-container {

    background: #fff9f5;
    border: 2px solid #ffd6c1;
    border-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);

}

.get-recipe {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    align-items: center;
    border-radius: 8px;
    background: #F0EFEB;
    padding: 10px 28px;


}

.get-recipe button {

    border: none;
    border-radius: 6px;
    background: #f48c06;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: black;
    padding: 9px 17px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}


/* RECIPES API */

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-items: center;
    margin-top: 50px;
}



.recipes-container:hover {
   background-color: #e07b00;
  transform: scale(1.05);
  color: white;

}


.search-name {
    text-align: center;
    justify-content: center;
    display: flex;
}

.recipes-container {

    width: 100%;
    max-width: 200px;
    background-color:#f9f5f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px gray;
    transition: all 0.2s ease;
}

.recipe-image {
    width: 100%;
    border-radius: 10px;

}

.recipe-name {
    color: black;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}

/* FORM PAGE */
.create-recipe {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;

}

.create-recipe label {

    text-align: left;
    display: block;
}

.create-recipe h2 {
    font-size: 20px;
    color: #f48c06;
    margin-bottom: 30px;
}

.create-recipe input,
.create-recipe textarea,
.create-recipe select {
    width: 100%;
    padding: 6px 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.create-recipe button {
    background-color: #f48c06;
    color: black;
    border: 0px;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;

}

.create-recipe button:hover {
    background-color: #d9534f;
}


/* FORM ITEM PAGE */

.form-details {
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px;
    background-color: white;

}

.form-details img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.item-content {
    padding: 10px;
    text-align: center;
}

.item-btn {
    flex: 1;
  padding: 6px 8px;
  font-size: 12px;
  background: #f48c06;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease;
}


.item-btn:hover {
  background: #e07b00;
}

.grid-form {
    display: flex;
    gap: 10px;
    padding: 10px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;

}

.form-container {
    height: 380px;
    background: #fff;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.form-card {
    display: flex;
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 350px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}


.form-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}

 .item-content {
     flex: 1;
  margin-top: 10px;
  overflow: hidden;
}

.item-content h3 {
    font-size:15px;
    font-weight: bold;
    margin: 8px 0;
}

.item-content p {
    font-size: 13px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* RECIPE DETAILS  */

.recipe-details {
 max-width: 700px;
  margin: 100px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  

}
.details-title {
  font-size: 15px;
  color: #444;
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.details-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.details-list li {
  font-size: 12px;
  color: #444;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
}

.instructions {
  margin-top: 10px;
  line-height: 1.6;
  color: #444;
  white-space: pre-line;
   font-size: 12px;
}

.go-back {
  display: inline-block;
  margin-top: 10px;
  color: #f48c06;
  text-decoration: none;
  font-weight: 200px;
  transition: color 0.2s;
  text-align: center;
}

.link{
    
  display: flex;
  justify-content: center; 
  align-items: center;   
  height: 30px;
  margin: auto;

}

.details-title {
  text-align: center;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  
}

.details-image {
  display: block;
  margin: 0 auto 10px auto;
  width: 250px; 
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

/* VIEW DETAILS */

.details-time{
    font-size: 15px;
}
